<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Others</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="card-container">
        <div class="card" [routerLink]="['/subjects']">
            <div class="icon"></div>
            <div class="name">Subjects</div>
        </div>

        <div class="card" [routerLink]="['/faculty']">
            <div class="icon"></div>
            <div class="name">Teachers</div>
        </div>

        <div class="card" [routerLink]="['/fees']">
            <div class="icon"></div>
            <div class="name">Fees</div>
        </div>

        <div class="card" [routerLink]="['/database']">
            <div class="icon"></div>
            <div class="name">Database</div>
        </div>

        <div class="card" [routerLink]="['/settings']">
            <div class="icon"></div>
            <div class="name">Settings</div>
        </div>

    </div>
</ion-content>