:host {
  --clr-a1: var(--you-a1-500);
  --clr-a1-lightest: var(--you-a1-100);
}

:host-context(.dark) {
  --clr-a1: var(--you-a1-600);
  --clr-a1-lightest: var(--you-a1-300);
}

ion-header {
  ion-toolbar {
    ion-icon {
      font-size: 1.35rem;
      padding: 1rem;
    }
  }
}

.day-selector {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
  background-color: var(--ion-background-color);
  border-bottom-left-radius: var(--app-radius-large);
  border-bottom-right-radius: var(--app-radius-large);
  .selected {
    font-size: 1.3rem;
    font-weight: 500;
    width: 15ch;
    text-align: center;
    padding-block: 0.9rem;
    border-radius: var(--app-radius-large);
    color: var(--clr-a1);
    background-color: var(--clr-a1-lightest);
    transition: 350ms ease-out;
  }
  .next,
  .prev {
    padding: 0.4rem;
    border-radius: 50%;
    color: var(--clr-a1);
    background-color: var(--clr-a1-lightest);
    ion-icon {
      width: 2rem;
      font-size: 2rem;
      vertical-align: middle;
      transform: translateX(-9%);
    }
    &:active {
      animation: 0.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
    }
  }
  .next {
    ion-icon {
      transform: translateX(9%);
    }
  }
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
    color: transparent;
  }
  to {
    clip-path: circle(125%);
    color: var(--clr-a1);
  }
}
