<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="avatar-container">
    <ion-avatar>
      <img src="../../../assets/webp/avatar.png">
    </ion-avatar>
  </div>

  <ion-item lines="none" href="https://github.com/tanishqmanuja" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>Developer</h2>
      <p>github.com/tanishqmanuja</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" href="https://github.com/tanishqmanuja/OneKiosk-App" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>App Source</h2>
      <p>github.com/tanishqmanuja/OneKiosk-App</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" href="https://github.com/tanishqmanuja/OneKiosk-API" target="_self">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <h2>API Source</h2>
      <p>github.com/tanishqmanuja/OneKiosk-API</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="git-commit-outline" slot="start"></ion-icon>
    <ion-label>
      <h2>App Version</h2>
      <p>1.0rc</p>
    </ion-label>
  </ion-item>

</ion-content>