:root {
	--you-a1-10: #FEFBFF;
	--you-a1-50: #F0EFFF;
	--you-a1-100: #DFE0FF;
	--you-a1-200: #BDC2FF;
	--you-a1-300: #9DA4FC;
	--you-a1-400: #8389E0;
	--you-a1-500: #686FC3;
	--you-a1-600: #5056A9;
	--you-a1-700: #383D8F;
	--you-a1-800: #202578;
	--you-a1-900: #060764;

	--you-a2-10: #FEFBFF;
	--you-a2-50: #F0EFFF;
	--you-a2-100: #E1E0FA;
	--you-a2-200: #C5C4DD;
	--you-a2-300: #AAA9C1;
	--you-a2-400: #8E8FA5;
	--you-a2-500: #74748A;
	--you-a2-600: #5C5D71;
	--you-a2-700: #454559;
	--you-a2-800: #2E2F41;
	--you-a2-900: #181A2B;

	--you-a3-10: #FFFBFA;
	--you-a3-50: #FFECF6;
	--you-a3-100: #FFD7EF;
	--you-a3-200: #F2B4DB;
	--you-a3-300: #D599BF;
	--you-a3-400: #B880A4;
	--you-a3-500: #9B6588;
	--you-a3-600: #814E70;
	--you-a3-700: #663757;
	--you-a3-800: #4C2140;
	--you-a3-900: #340B2A;

	--you-n1-10: #FEFBFF;
	--you-n1-50: #F3EFF4;
	--you-n1-100: #E5E1E6;
	--you-n1-200: #C8C5CA;
	--you-n1-300: #ADAAAF;
	--you-n1-400: #929094;
	--you-n1-500: #77757A;
	--you-n1-600: #5F5E62;
	--you-n1-700: #47464A;
	--you-n1-800: #303033;
	--you-n1-900: #1B1B1F;

	--you-n2-10: #FEFBFF;
	--you-n2-50: #F2EFFB;
	--you-n2-100: #E3E1EC;
	--you-n2-200: #C7C5D0;
	--you-n2-300: #ABAAB4;
	--you-n2-400: #91909A;
	--you-n2-500: #76757F;
	--you-n2-600: #5E5D67;
	--you-n2-700: #46464F;
	--you-n2-800: #303038;
	--you-n2-900: #1B1B22;
}