:root {
  --ion-background-color: var(--you-n1-10);
  --ion-text-color: var(--you-a2-800);
  --ion-card-background-color: var(--you-n1-50);
}

:root .dark {
  --ion-background-color: var(--you-n1-900);
  --ion-text-color: var(--you-a2-10);
  --ion-card-background-color: var(--you-n1-800);
}
